<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qianmeng.computerroom.mapper.SysRoleBackendApiMapper">
    <resultMap id="BaseResultMap" type="com.qianmeng.computerroom.po.SysRoleBackendApi">
        <id column="role_api_id" property="roleApiId" jdbcType="INTEGER"/>
        <result column="role_id" property="roleId" jdbcType="INTEGER"/>
        <result column="api_id" property="apiId" jdbcType="INTEGER"/>
        <result column="is_deleted" property="isDeleted" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="VARCHAR"/>
        <result column="create_person" property="createPerson" jdbcType="INTEGER"/>
        <result column="modified_time" property="modifiedTime" jdbcType="VARCHAR"/>
        <result column="modified_person" property="modifiedPerson" jdbcType="INTEGER"/>
        <result column="deleted_time" property="deletedTime" jdbcType="VARCHAR"/>
        <result column="deleted_person" property="deletedPerson" jdbcType="INTEGER"/>
        <result column="role_api_remark" property="roleApiRemark" jdbcType="VARCHAR"/>
    </resultMap>
</mapper>