<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qianmeng.computerroom.mapper.SysRoleMapper">
    <resultMap id="BaseResultMap" type="com.qianmeng.computerroom.po.SysRole">
        <id column="role_id" property="roleId" jdbcType="INTEGER"/>
        <result column="role_name" property="roleName" jdbcType="VARCHAR"/>
        <result column="role_description" property="roleDescription" jdbcType="VARCHAR"/>
        <result column="is_deleted" property="isDeleted" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="VARCHAR"/>
        <result column="create_person" property="createPerson" jdbcType="INTEGER"/>
        <result column="modified_time" property="modifiedTime" jdbcType="VARCHAR"/>
        <result column="modified_person" property="modifiedPerson" jdbcType="INTEGER"/>
        <result column="deleted_time" property="deletedTime" jdbcType="VARCHAR"/>
        <result column="deleted_person" property="deletedPerson" jdbcType="INTEGER"/>
        <result column="role_remark" property="roleRemark" jdbcType="VARCHAR"/>
    </resultMap>

    <!--根据用户名查询拥有的角色ID-->
    <select id="getRolesByUserName" resultType="java.lang.String">
        SELECT b.role_name
        from sys_user a,
             sys_role b,
             sys_user_role c
        where a.user_id = c.user_id
          and b.role_id = c.role_id
          and a.is_deleted = 0
          and a.user_name = #{userName}
    </select>


</mapper>